@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1145px;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header__item {
    display: inline;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 1;
    list-style: none;

}

.header__link {
    display: inline-block;
    text-decoration: none;
    color: #FF0000;
    margin: 26px 72px;
}

.header__download {
    display: inline-block;
    text-decoration: none;
    color: #FF0000;
    margin: 26px;
    margin-left: 50px;

}

.header__nav_list {
    text-align: center;
}

.topcontent__back {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 789px;
    background-image: url("../images/phone.png");
}

.middlecontent__header {
    margin: 48px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px; 
    color: #373737;  
    letter-spacing: 3.3px;  
}

.middlecontent {
    text-align: center;
}

.middlecontent__firsttxt {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}

.middlecontent__secondtxt {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-top: 28px;
}

.middlecontent__button {
    background: #FF0000;
    border: none;
    color: white;
    border-radius: 4px;
    margin-top: 84px;
    margin-bottom: 59px;
    padding: 18px 43px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
}

.footer {
    text-align: right; 
    font-weight: 700;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: 2.4px;
    margin-bottom: 29px;
    margin-right: 105px;
}